priority 1

snippet df "def"
def ${1:method_name}
  ${2}
end
endsnippet


snippet dfa "def(args)"
def ${1:method_name}(${2:arg})
  ${3}
end
endsnippet

snippet exps "{#exp}"
"#\{${1:exp}\}"
endsnippet

snippet exp "{#exp}"
#\{${1:exp}\}
endsnippet

snippet block "{ |el| ... }"
\{ |${1:el}| ${2} \}
endsnippet

snippet do_block "do |el| ... end"
do |${1:el}|
  ${2}
end
endsnippet
